article {
  height: 100%;
  margin: auto;
  overflow: hidden;
}

.container {
  max-width: 960px;
  height: 100%;
  margin: auto;
}

#box-login-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

#presentation-box {
  flex: 1;
}

#presentation-box img{
  max-width: 20rem;
  margin-bottom: 3rem;
}

#presentation-box h1{
  font-size: 4rem;
}

.navigation-screen {
  display: flex;
  padding-bottom: 2rem;
  text-align: center;
}

.navigation-screen .tittle-screen {
  flex: 1;
  padding-bottom: 1rem;
  border-bottom: solid .2rem var(--color-borders);
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--color-icons);
  cursor: pointer;
  text-decoration: none;
  transition: all .5s;
}

.navigation-screen .tittle-screen.active {
  color: var(--color-secondary);
  border-color: var(--color-secondary);

}

.navigation-screen .tittle-screen:not(.active):hover {
  color: var(--color-text);
  border-color: var(--color-text);
}

#form-wrapper {
  width: 42rem;
  box-sizing: border-box;
  background: rgb(32, 32, 36);
  border-radius: .5rem;
  padding: 64px;
}

label[for=keep-connected] {
  margin-left: 1rem;
  cursor: pointer;
}

label[for=keep-connected]::selection {
  background: none;
}

button#login-action {
  background-color: var(--color-primary);
  color: rgb(255, 255, 255);
}

button#login-action:hover {
  background-color: var(--color-primary-hover);
}

button#login-action:disabled {
  opacity: .4;
  cursor: not-allowed;
}



@media screen and (max-width: 800px) {
  .container {
    display: block !important;
    max-width: 400px;
    overflow: auto;
    height: auto;
  }

  #box-login-wrapper {
    flex-direction: column;
    justify-content: center;
  }

  #presentation-box {
    flex: initial;
    margin-bottom: 2rem;
    text-align: center;
  }

  #presentation-box h1 {
    font-size: 1.5rem;
  }

  #presentation-box img {
    max-width: 10rem;
    margin-bottom: 1rem;
  }

  #form-wrapper {
    max-width: 30rem;
    padding: 3rem;
    margin-bottom: 5rem;
  }
}